/*========================================
  :root – Only Color Variables (New Palette)
========================================*/
:root {
  --body-bg: #ffffff;
  /* Dominant background (60%) */
  --text-color: #1F2937;
  /* Primary text */
  --brand-color: #4F46E5;
  /* Brand color (30%) */
  --secondary-color: #C7D2FE;
  /* Secondary elements */
  --accent-color: #F59E0B;
  /* Accent (10%) */
  --gradient: linear-gradient(135deg, var(--brand-color), var(--accent-color));

  /* Added custom properties */
  --shadow: rgba(31, 41, 55, 0.1);
  /* For subtle drop shadows */
  --drop: var(--body-bg);
  /* Dropdown background */
}


/*========================================
  #RESET
========================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
time,
label,
input,
button,
textarea,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg);
  font-size: 1.6rem;
  line-height: 1.8;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--body-bg);
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}

:focus-visible {
  outline-offset: 4px;
}


/*========================================
  #REUSED STYLE
========================================*/
.container {
  padding-inline: 15px;
}

.btn {
  max-width: max-content;
  color: var(--body-bg);
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.25s ease;
}

.btn-primary {
  background-color: var(--brand-color);
  background-size: 1000%;
}

.btn-primary:is(:hover, :focus) {
  background-position: bottom right;
}

.btn-secondary {
  color: var(--secondary-color);
}

.btn-secondary:is(:hover, :focus) {
  background-color: var(--brand-color);
  color: var(--body-bg);
}

.section {
  padding-block: 60px;
}

.h1,
.h2,
.h3 {
  color: var(--brand-color);
  line-height: 1.2;
}

.h1 {
  font-size: 3.5rem;
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2.1rem;
}

.w-100 {
  width: 100%;
}

.section-title,
.section-text {
  text-align: center;
}

.section-text {
  font-size: 1.3rem;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.img-holder {
  /* Assuming aspect-ratio values are defined elsewhere */
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--secondary-color);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*========================================
  #HEADER
========================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* backdrop-filter: blur(10px); */
  padding-block: 15px;
  border-block-end: 1px solid var(--secondary-color);
  z-index: 4;
  transition: 0.25s cubic-bezier(0.13, 0.89, 0.7, 0.08);
  box-shadow: 2px 2px 12px var(--shadow);
}

.header.active {
  filter: drop-shadow(0 2px 28px var(--shadow));
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
}

.nav-toggle-btn {
  font-size: 40px;
}

.nav-toggle-btn.active .open,
.nav-toggle-btn .close {
  display: none;
}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close {
  display: block;
}

.navbar {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100% - 30px);
  width: 100%;
  padding-inline: 0;
  border: 1px solid var(--secondary-color);
  transition: 0.3s cubic-bezier(0.33, 0.85, 0.4, 0.96);
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
}

.navbar.active {
  max-height: 320px;
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar-list {
  padding: 20px 15px;
  padding-block-start: 10px;
  opacity: 0;
  transition: 0.25s ease;
}

.navbar.active .navbar-list {
  opacity: 1;
}

.navbar-link {
  color: var(--tex);
  font-size: 1.7rem;
  line-height: 1.2;
  padding-block: 8px;
  transition: 0.25s ease;
}

.navbar-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.header .btn {
  margin-block-start: 10px;
}

/* Dropdown Button */
.dropdown .dropdown-toggle {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: inherit;
  margin: 0;
  color: var(--text-color);
  font-size: 1.7rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* backdrop-filter: blur(10px); */
  background-color: var(--drop);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--shadow);
  border-radius: 6px;
  text-align: left;
  z-index: 1;
  padding: 0.5rem;
}

.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 6px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*========================================
  #HERO
========================================*/
.hero {
  padding-block-start: calc(60px + 50px);
  text-align: center;
}

.hero-content {
  margin-block-end: 30px;
}

.hero-subtitle {
  color: var(--brand-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.hero-title {
  margin-block: 12px 8px;
}

.hero-text {
  font-size: 1.4rem;
}

.hero .btn {
  margin-inline: auto;
  margin-block-start: 20px;
}


/*========================================
  #SERVICE
========================================*/
.service .section-text {
  margin-block: 5px 35px;
}

.service-card {
  padding: 20px 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 6px 24px rgba(31, 41, 55, 0.05);
  transition: 0.5s ease;
}

.service-card:is(:hover, :focus-within) {
  transform: translateY(-10px);
}

.service-card .card-icon {
  color: #ffffff;
  font-size: 25px;
  max-width: max-content;
  margin-inline: auto;
  padding: 18px;
  border-radius: 50%;
  /* Uncomment if you want a background:
     background-color: var(--brand-color); */
}

.service-card .card-title {
  margin-block: 20px 8px;
}

.service-card .card-text {
  font-size: 1.3rem;
}


/*========================================
  #PROJECT
========================================*/
.project .section-text {
  margin-block: 5px 35px;
}

.project-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  transition: 0.5s ease;
}

.project-card:is(:hover, :focus-within)::after {
  opacity: 0.8;
}

.project-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
  transition: 0.5s ease;
}

.project-card:is(:hover, :focus-within) .card-content {
  transform: translateY(-20px);
}

.project-card .card-subtitle {
  color: #b0b0b0;
  font-size: 1.3rem;
  line-height: 1;
}

.project-card .card-title {
  color: #ffffff;
  margin-block: 12px 15px;
}


/*========================================
  #ABOUT
========================================*/
.about-banner {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-block-end: 25px;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--brand-color);
  font-size: 32px;
  padding: 16px;
  border-radius: 50%;
  animation: pulse 1.5s ease-out infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 1px var(--body-bg);
  }

  100% {
    box-shadow: 0 0 0 25px transparent;
  }
}

.about :is(.section-title, .section-text) {
  text-align: left;
}

.about .section-title {
  margin-block-end: 5px;
}

.about .section-text:not(:last-child) {
  margin-block-end: 18px;
}

.about .h3 {
  margin-block-end: 8px;
}

.about-list {
  margin-block: 15px 18px;
}

.about-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.about-item ion-icon {
  color: var(--brand-color);
  flex-shrink: 0;
  margin-block-start: 2px;
}

.about-item:not(:last-child) {
  margin-block-end: 12px;
}


/*========================================
  #CTA
========================================*/
.cta {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}

.cta::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--gradient);
  opacity: 0.95;
  z-index: -1;
}

.cta-subtitle,
.cta .section-title {
  color: #ffffff;
}

.cta-subtitle {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.cta .section-title {
  margin-block: 12px 18px;
}

.cta .btn {
  margin-inline: auto;
}


/*========================================
  #BLOG
========================================*/
.blog .section-text {
  margin-block: 5px 35px;
}

.blog-card .card-banner {
  overflow: hidden;
}

.blog-card .card-banner img {
  transition: 0.5s ease;
}

.blog-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.05);
}

.blog-card .card-content {
  padding: 15px;
}

.blog-card .time {
  color: var(--brand-color);
  font-size: 1.3rem;
  line-height: 1;
  margin-block-end: 10px;
}

.blog-card .card-title {
  transition: 0.25s ease;
}

.blog-card .card-title:is(:hover, :focus) {
  color: var(--brand-color);
}


/*========================================
  #CONTACT
========================================*/
.contact {
  background-color: transparent;
}

.contact .section-text {
  margin-block: 5px 35px;
}

.contact-form {
  padding: 20px;
  border-radius: 2px;
  margin-block-end: 30px;
  box-shadow: 0 6px 24px rgba(31, 41, 55, 0.05);
}

.input-field {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 15px;
  border-radius: 2px;
  outline: 1px solid transparent;
  outline-offset: 0;
  margin-block-end: 15px;
  transition: 0.25s ease;
}

.input-field::-webkit-inner-spin-button {
  display: none;
}

.input-field:focus {
  outline-color: var(--accent-color);
}

.input-field::placeholder {
  transition: 0.25s ease;
}

.input-field:focus::placeholder {
  opacity: 0;
}

textarea.input-field {
  resize: vertical;
  min-height: 80px;
  height: 100px;
  max-height: 200px;
  overscroll-behavior: contain;
}

.checkbox {
  width: max-content;
  margin-block-start: 5px;
  accent-color: var(--brand-color);
}

.label-link {
  display: inline-block;
  color: var(--brand-color);
}

.label-link:is(:hover, :focus) {
  text-decoration: underline;
}

.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-block-end: 15px;
}

.checkbox-wrapper .label {
  font-size: 1.3rem;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 25px;
}

.contact-item {
  min-width: 100%;
}

.contact-card {
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 6px 24px rgba(31, 41, 55, 0.05);
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.contact-card .card-icon {
  background-color: var(--secondary-color);
  color: var(--brand-color);
  font-size: 25px;
  padding: 13px;
  border-radius: 50%;
  transition: 0.25s ease;
}

.contact-card:is(:hover, :focus) .card-icon {
  background-color: var(--accent-color);
  color: var(--body-bg);
}

.contact-card .card-title {
  margin-block-end: 5px;
}

.contact-card :is(.card-link, .card-address) {
  font-size: 1.3rem;
  transition: 0.25s ease;
}

.contact-card .card-link:is(:hover, :focus) {
  color: var(--brand-color);
}


/*========================================
  #FOOTER
========================================*/
.footer {
  padding-block: 20px;
}

.copyright {
  font-size: 1.3rem;
  text-align: center;
}

.copyright-link {
  color: var(--accent-color);
  font-weight: 700;
  display: inline-block;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */
@media (min-width: 575px) {

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }

  .blog .grid-list {
    grid-template-columns: 1fr;
  }

  .blog-card.grid {
    display: grid;
    grid-template-columns: 0.47fr 1fr;
    align-items: center;
    gap: 10px;
  }

  .contact-item {
    min-width: calc(50% - 18px);
  }
}


@media (min-width: 768px) {

  :root {
    /* Typography adjustments for larger screens */
    --fs-1: 4.5rem;
    --fs-2: 3.7rem;
    --fs-3: 2.3rem;
    --fs-4: 1.8rem;
    --fs-5: 1.5rem;
    --fs-6: 1.4rem;
  }

  .container {
    max-width: 720px;
  }

  .section-text {
    max-width: 65ch;
    margin-inline: auto;
  }

  .hero-text {
    max-width: 60ch;
    margin-inline: auto;
  }

  .about-banner {
    max-width: 550px;
  }

  .about .section-text {
    max-width: unset;
    margin-inline: 0;
  }

  .contact-form {
    padding: 30px;
  }

  .contact-item {
    min-width: calc(50% - 12.5px);
  }
}

/**
 * responsive for larger than 992px screen
 */
@media (min-width: 992px) {

  :root {
    --fs-1: 5rem;
    --fs-2: 4rem;
    --fs-3: 2.5rem;
    --section-padding: 100px;
  }

  .container {
    max-width: 960px;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Hide mobile nav toggle on larger screens */
  .nav-toggle-btn {
    display: none;
  }

  /* Replace mobile navbar with horizontal list */
  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar-list {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar-link {
    position: relative;
  }

  .navbar-link:is(:hover, :focus) {
    color: var(--accent-color);
  }

  .navbar-link::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--accent-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.4s all ease;
  }

  .navbar-link:is(:hover, :focus)::after {
    transform: scaleX(1);
  }

  .header .btn {
    margin-block-start: 0;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    text-align: left;
  }

  .hero-content {
    margin-block-end: 0;
  }

  .hero-subtitle {
    position: relative;
    padding-inline-start: 15px;
  }

  .hero-subtitle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: var(--accent-color);
  }

  .hero-text,
  .hero .btn {
    margin-inline: 0;
  }

  .service-card {
    padding: 20px;
  }

  .service-card .h3 {
    --fs-3: 2.3rem;
  }

  .project-card .card-subtitle {
    --fs-6: 1.5rem;
  }

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .about-banner {
    margin-block-end: 0;
  }

  .blog .grid-list {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  .blog .grid-list>li:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
  }

  .blog-card:not(.grid) {
    height: 100%;
  }

  .blog-card .card-content {
    padding-block: 10px;
  }

  .blog-card:not(.grid) .card-content {
    padding: 25px;
  }

  .blog-card.grid .h3 {
    --fs-3: 2rem;
  }

  .blog-card .time {
    --fs-6: 1.6rem;
  }

  .checkbox-wrapper {
    margin-block: 20px;
  }

  .contact-item {
    min-width: calc(33.33% - 16.66px);
  }

  .contact-card {
    padding: 30px;
  }

  .contact-card .card-icon {
    font-size: 32px;
  }
}

/**
 * responsive for larger than 1200px screen
 */
@media (min-width: 1200px) {

  :root {
    --fs-1: 6.8rem;
    --fs-2: 4.5rem;
    --fs-4: 1.9rem;
    --fs-5: 1.6rem;
    --fs-6: 1.6rem;
  }

  .container {
    max-width: 1140px;
  }

  .btn {
    /* If needed, adjust button font size */
    --fs-6: 1.5rem;
  }

  .service-card {
    padding: 30px;
  }

  .service-card .h3 {
    --fs-3: 2.5rem;
  }

  .project-card .card-content {
    padding: 30px;
  }

  .project-card .card-subtitle {
    --fs-6: 1.6rem;
  }

  .about .container {
    gap: 60px;
  }

  .about-item {
    gap: 7px;
  }

  .about-item ion-icon {
    font-size: 20px;
  }

  .cta .section-title {
    margin-block: 15px 24px;
  }

  .blog-card .time {
    --fs-6: 1.6rem;
  }

  .blog-card.grid .h3 {
    --fs-3: 2.4rem;
  }

  .contact-form {
    padding: 50px;
  }

  .contact-card {
    gap: 20px;
  }

  .contact-card .card-icon {
    padding: 15px;
  }
}